@using StudentskaSluzba.Model
@model Class

@{
    ViewData["Title"] = "Detalji predmeta";
}

@if (Model != null)
{
    <ol class="breadcrumb">
        <li><a asp-action="Index">Popis predmeta</a></li>
        <li class="active"> / @Model.Name</li>
    </ol>

    <div>
        <h4>@Model.Name</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Profesori
            </dt>
            <dd>
                @foreach (var c in Model.Professors)
                {
                    @(c.FirstName + " " + c.LastName)<br />
                }
            </dd>
            <dt>
                Studenti
            </dt>
            <dd>
                @foreach (var c in Model.Students)
                {
                    @(c.FirstName + " " + c.LastName)<br />
                }
            </dd>
            <dt>
                Obavijesti
            </dt>
            <dd>
                @foreach (var n in ViewBag.News)
                {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@n.Title - @n.Class.Name</h5>
                        <p class="card-text">@n.Message</p>
                    </div>
                </div>
                }
            </dd>
        </dl>
    </div>

}
else
{
    <div class="alert alert-danger">
        Nije odabran ispravni ID Predmeta.
    </div>

}